<nav class="navbar navbar-expand-lg navBack">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between " id="navbarSupportedContent">

          <ul class="nav   ">
              <li class="nav-item ">
                <a class="nav-link" routerLink="/">Home</a>
              </li>
              <li class="nav-item" *ngIf="authService.loggedIn()">
                <a class="nav-link" routerLink="/return" >Return Book</a>
              </li>
            </ul>



          <ul class="nav    ">
              <li class="nav-item"  *ngIf="!authService.loggedIn()">
                  <a class="nav-link" routerLink="/user/register" >SignUp</a>
                </li>
                <li class="nav-item" *ngIf="!authService.loggedIn()">
                    <a class="nav-link"  routerLink="/user/login"  >Signin</a>
                  </li>
                  <li class="" style="padding:7px; font-size:20px; text-decoration:underline" *ngIf="authService.loggedIn()">
                   <span>Hello {{ name }}</span>
                  </li>
              <li class="nav-item dropdown" *ngIf="authService.loggedIn()">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Account</a>
                    <a class="dropdown-item" href="#">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                  </div>
                </li>

            </ul>



    </div>
  </nav>
