form {
  padding:30px
}
.has-error {
  color: red;
}
input[type=text], input[type=email] {
  border-color: transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px rgba(161, 161, 161, 0.6);
  outline: 0 none;
}


.has-error  input[type=text]{
  border:2px solid red;



}
