<app-navbar></app-navbar>

<div class="card myCard" >
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Return Books</li>
        </ol>
      </nav>
</div>
<div class="myContainer">

  <div class="card border-info mb-3">

    <h5 class="card-header  border-success">My Books</h5>
    <div class="card-body ">

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Borrowed on</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let book of books; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{ book.title }} </td>
            <td>{{ book.author }} </td>
            <td>{{ book.created_on | date:'medium'}} </td>
            <td><button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">Return</button></td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="card-footer bg-transparent border-success"><h3>Total Books Borrowed ({{books?.length}})</h3></div>
  </div>
</div>


<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-success" id="exampleModalLongTitle" >Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          are you sure you want to return {{books[0]?.title | json}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" (click)="returnBook()" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
